$link-color:            #337ab7;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

.link {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}